/* body {
    font-family: Arial, sans-serif;
  }

  .navbar {
    background-color: #19b3a0;
  }

  .navbar-brand {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }

  .nav-link {
    color: white !important;
    font-size: 18px;
  }

  .nav-link:hover {
    color: #f5f5f5 !important;
  }

  section {
    padding: 50px 0;
  }

  .text-primary {
    color: #19b3a0 !important;
  }

  .bg-primary {
    background-color: #19b3a0 !important;
  }

  .bg-light {
    background-color: #f5f5f5 !important;
  }

  .jumbotron {
    background: url('background.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 150px 0;
    margin-bottom: 0;
  }

  .jumbotron h1 {
    font-size: 48px;
  }

  .jumbotron p {
    font-size: 24px;
  } */

 

  body {
    background-image: url("/src/img/fondo_futbol.jpeg");
    background-size: cover; /* Escalar la imagen para cubrir todo el contenedor */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    width: 100%;
    height: 100vh; /* Establecer la altura del contenedor (puede ser ajustada) */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }

  
  h1 {
    color: #FFFFFF; /* Color del texto */
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000; /* Sombra como borde */
  }

  h2 {
    color: #FFFFFF; /* Color del texto */
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000; /* Sombra como borde */
  }

  p {
    font-size: 1.3rem;
    color: #FFFFFF; /* Color del texto */
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000; /* Sombra como borde */
  }
  